doctype html
html(ng-app='bodyMass')
  head
    title= title
    script(src='/javascripts/angular.min.js')
    script(src='/app/modules/bodyMass.js')

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
